---
---
{% comment %}
based on http://colorschemedesigner.com/#2T31T5577vyw03yKQI4BRC5bzrRCcCkDVjzcRRkBDCk
{% endcomment %}

{% assign primary = "#242b26" %}
{% assign primary_light = "#9eada1" %}
{% assign secondary_a = "#393430" %}
{% assign secondary_a_light = "#b4aaa1" %}
{% assign secondary_b = "#2f272b" %}
{% assign secondary_b_light = "#b6a4ad" %}

@import url({{ site.baseurl }}styles/reset.css);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic&subset=latin,latin-ext);

html, body {
  background-color: white;
  color: {{ primary }};
  font: 16pt/1.5 'Alegreya', serif;
}

header,
footer {
  background-color: {{ primary }};
  color: {{ secondary_a_light }};
}

header {
  font-size: 120%;
}

h1 {
  font-size: 200%;
  font-weight: bold;
  display: inline-block;
  padding: .2em;
}

header nav {
  display: inline-block;
  margin: 1em;
}

a {
  color: {{ secondary_b }};
}

header a,
footer a {
  color: {{ secondary_b_light }};
  text-decoration: none;
}

cite {
  font-style: italic;
}

nav > ol {

}

header nav > ol > li {
  display: inline-block;
  border: 1px solid {{ secondary_b_light }};
  padding: .2em;
}
