@import url(/styles/reset.css);
@import url(http://fonts.googleapis.com/css?family=Cinzel:700&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic&subset=latin,latin-ext);

html, body {
  /* background-color: #243b36; */
  background-color: rgb(48, 45, 40);
  color: rgb(143, 133, 122);
  font: 16pt/1.5 'Source Sans Pro', sans-serif;
}

header,
footer {
  padding: 1em;
}

header {
  background-image: url('/images/header.jpg');
  background-position: right top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: .5em;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 200%;
  background-color: rgba(48, 45, 40, 0.85);
  padding: 0.2em 0.4em;
  text-align: center; /* this only takes effect when things are wrapping :D */
}

h1:hover {
  background-color: rgba(48, 45, 40, 0.95);
}

h2 {
  font-size: 130%;
  border-bottom: 1px solid rgb(48, 45, 40);
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 100%;
}

header > * {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

header nav {
  font-size: 120%;
  margin-left: 1em;
}

header a,
footer a {
  color: #c8d0a0;
  text-decoration: none;
}

cite {
  font-style: italic;
}

header nav > ol > li {
  display: inline-block;
  background-color: rgba(48, 45, 40, 0.85);
  margin-top: 4px;
  margin-right: 4px;
  padding: 0.1em 0.2em;
}

header nav > ol > li:hover {
  background-color: rgba(48, 45, 40, 0.95);
}

footer a:hover {
  color: rgb(48, 45, 40);
  background-color: #c8d0a0;
  padding: 0 3px;
  margin: 0 -3px;
  border-radius: 3px;
  text-decoration: none;
}

footer ol,
footer ul {
  margin-right: 4em;
  margin-bottom: 1em;
}

footer nav > * > li,
footer nav > * > li > * > li {
  display: inline-block;
  vertical-align: top;
}

footer nav > * > li > * > li > ol {
  border-left: 1px solid #b4aaa1;
  margin-left: 1em;
  padding-left: 1em;
}

footer nav > * > li > * > li > ol > li {
  font-style: italic;
}

footer p.copyright {
  font-size: 80%;
  max-width: 20em;
  text-indent: 2em;
}

footer p.copyright a {
  text-decoration: underline;
}

footer p.copyright a:hover {
  text-decoration: none;
}

main {
  background-color: #f9fdff;
  color: rgb(48, 45, 40);
  padding: 2em;
}

main a {
  color: #627ca2;
}

main a:hover {
  background-color: #627ca2;
  color: white;
  padding: 0 3px;
  margin: 0 -3px;
  border-radius: 3px;
  text-decoration: none;
}

main p {
  text-indent: 2em;
  margin-bottom: .5em;
  max-width: 30em;
  margin: 0 auto;
}

main .video {
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: .5em;
}

main blockquote {
  background-color: rgb(201, 187, 175);
  font-style: italic;
}

main blockquote cite,
main blockquote em {
  font-style: normal;
}
