---
---
{% comment %}
based on http://colorschemedesigner.com/#2T31T5577vyw03yKQI4BRC5bzrRCcCkDVjzcRRkBDCk
{% endcomment %}

{% assign primary = "#242b26" %}
{% assign primary_light = "#9eada1" %}
{% assign secondary_a = "#393430" %}
{% assign secondary_a_light = "#b4aaa1" %}
{% assign secondary_b = "#2f272b" %}
{% assign secondary_b_light = "#b6a4ad" %}

@import url({{ site.baseurl }}styles/reset.css);
@import url(http://fonts.googleapis.com/css?family=Cinzel:700&subset=latin);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic&subset=latin,latin-ext);
/* @import url(http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic&subset=latin,latin-ext); */

html, body {
  background-color: white;
  color: {{ primary }};
  font: 16pt/1.5 'Source Sans Pro', sans-serif;
}

header,
footer {
  background-color: {{ primary }};
  color: {{ secondary_a_light }};
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 200%;
  display: inline-block;
  vertical-align: middle;
}

header nav {
  display: inline-block;
  font-size: 120%;
  vertical-align: middle;
  margin-left: 1em;
}

a {
  color: {{ secondary_b }};
}

header a,
footer a {
  text-decoration: none;
  color: {{ secondary_b_light }};
}

header a:hover,
footer a:hover {
  color: {{ secondary_b }};
  background-color: {{ secondary_b_light }};
}

cite {
  font-style: italic;
}

header nav > ol > li + li:before {
  content: " • ";
}

header nav > ol > li {
  display: inline;
}

footer ol,
footer ul {
  margin-right: 4em;
  margin-bottom: 1em;
}

footer nav > ol > li {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}

footer nav > ol > li > * {
  font-weight: normal;
}

footer nav > ol > li > * > li {
  display: inline-block;
  vertical-align: top;
}

footer nav > ol > li > * > li > ol {
  font-style: italic;
  list-style-type: square;
  margin-left: 2em;
}

footer p.copyright {
  font-size: 80%;
  max-width: 20em;
}
